#gameWrapper {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: black;
    background-image: url("public/spaceBackground.jpg");
}

#attribution {
    position: absolute;
    bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#start-game {
    border:none;
    appearance:none;
    outline:none;
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:12px 48px 12px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color: hsl(300, 100%, 25%);
    border: 2px solid #ffffff;
}
#start-game {   transition-duration: 0.4s; }
#start-game:hover {
    font-size:1.6em;
    background-color:hsl(300, 100%, 30%);
}

.screen {
    padding: 20px;     
    position: fixed;     
    top:50%;     
    left:50%;     
    margin-top: -100px;     
    margin-left: -100px;     
    height:200px;     
    width:250px;     
    text-align: center;
}
